# Handle two or more services
supervisor

# Django
Django==5.0.7

# Django Packages
django-cors-headers==3.11.0
django-bootstrap3==21.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1

django-simple-history

django-import-export==4.1.1
django-admin-rangefilter
whitenoise==6.5.0 # staticfiles

# Admin panel customization
django-unfold==0.30.0

# Redis
django-redis
redis

# Swagger
drf-yasg==1.21.4

pyparsing==3.0.8

# Logger
loguru

# Misc
google-auth

# Debug
ipython
ipdb

# Youtube
yt_dlp

# Websocket
channels==4.0.0
channels_redis==4.1.0
daphne==4.0.0