{% load bootstrap3 %}
<html>
  <head>
    <link rel="shortcut icon" href="#" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
    />
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

    {% bootstrap_css %}
  </head>

  <body>
    <video-js
      id="video"
      class="video-js"
      controls
      preload="auto"
      width="640"
      height="390"
      autoplay="true"
      data-setup="{}"
    ></video-js>

    <br /><br />

    <div id="title"></div>
    <div id="url"></div>
    <div id="duration"></div>
    <div id="user"></div>

    <br /><br />

    <button onclick="play()">Play</button>
    <button onclick="pause()">Pause</button>
    <button onclick="mute()">Mute</button>
    <button onclick="unmute()">Unmute</button>
    <button onclick="cut()">Cut</button>
    <button onclick="cut_and_block()">Cut & Block</button>
    <button onclick="favorite()">Favorite</button>
    <button onclick="unfavorite()">Unfavorite</button>

    <br /><br />

    <button onclick="load_song_list()">Reload Song List</button>

    <br /><br />

    <h3>Autoplay will work when interacting with UI.</h3>

    <h3>---- Song List ----</h3>

    <br />

    <div id="songlist"></div>

    <br />

    <h3>---- Player Status ----</h3>
    <br />
    <div id="player_status"></div>
    <br />

    <h3>---- JWT ----</h3>
    <br />
    <div id="token"></div>
    <button onclick="javascript:location.href='/api/__hidden_admin/'" >Login</button>
    <br />
    </div>

    <script
      src="https://code.jquery.com/jquery-2.1.1.min.js"
      type="text/javascript"
    ></script>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% bootstrap_javascript %}

    <script>

      // ----------------------------------------------

      // JWT

      function get_jwt_token_and_refresh() {
        var jwt_token = localStorage.getItem("access_token");
        var jwt_token_refresh = localStorage.getItem("refresh_token");
        var data = {
          token: jwt_token,
          refresh: jwt_token_refresh
        };
        // debug
        // --------------------
        //console.log(data);
        // --------------------
        return data;
      }

      function get_auth_headers() {
        var data = get_jwt_token_and_refresh();
        var headers = {
          Authorization: "Bearer" + " " + data.token,
        }
        return headers;
      }

      function jwt_refresh_and_verify() {
        console.log("--- JWT Refresh and Verify ---");
        var data = get_jwt_token_and_refresh()
        var jwt_token = data.token;
        var jwt_token_refresh = data.refresh;

        if (jwt_token) {
          $.ajax({
            type: "POST",
            url: "/api/auth/token/refresh",
            data: {refresh: jwt_token_refresh},
            success: function (data) {
              localStorage.setItem("token", data.access_token);
              const jwt_token = data.access_token;
              $.ajax({
                type: "POST",
                url: "/api/auth/token/verify",
                data: { token: jwt_token },
                headers: {
                  Authorization: "Bearer" + " " + jwt_token,
                },
                success: function (data) {
                  var msg = "Login with JWT token!";
                  console.log(msg);
                  $("#token").text(msg).css("color", "green");
                },
                error: function (data) {
                  console.log(jwt_token_refresh);
                  Swal.fire({
                    icon: 'error',
                    title: 'JWT Verify Error',
                    text: data.responseText
                  });
                  var msg = "JWT Verify Error: " + data.responseText;
                  console.log(msg);
                  $("#token").text(msg).css("color", "red");
                },
              });
            },
            error: function (data) {
              Swal.fire({
                icon: 'error',
                title: 'JWT Refresh Error',
                text: data.responseText
              });
              var msg = "JWT Refresh Error: " + data.responseText;
              console.log(msg);
              $("#token").text(msg).css("color", "red");
            },
          });
        } else {
          Swal.fire({
            icon: 'question',
            title: 'Login',
            text: 'Please login!'
          });
          var msg = "Have not login with JWT token!";
          $("#token").text(msg).css("color", "red");
          console.log(msg);
        }
        console.log("----------------------------");
      }

      // ----------------------------------------------


      var now_playing_id = 0;

      function play() {
        var videoPlayer = videojs("video");
        videoPlayer.play();
      }
      function pause() {
        var videoPlayer = videojs("video");
        videoPlayer.pause();
      }
      function mute() {
        var videoPlayer = videojs("video");
        videoPlayer.muted(true);
      }
      function unmute() {
        var videoPlayer = videojs("video");
        videoPlayer.muted(false);
      }

      function insert_song_signal(playing_id, order) {
        console.log(`指定播放順序，佇列ID：` + playing_id);
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: get_auth_headers(),
          url: "playlist/" + playing_id + "/insert?order=" + order,
          success: function (res) {
            console.log(res);
          },
        });
      }

      function cut_song_signal() {
        if (now_playing_id != 0) {
          console.log(`沒播完，直接卡掉，移除佇列ID：` + now_playing_id);
          $.ajax({
            type: "GET",
            dataType: "json",
            headers: get_auth_headers(),
            url: "playlist/" + now_playing_id + "/mark?cut=true&delete=true",
            success: function (res) {
              console.log(res);
              now_playing_id = 0;
            },
          });
        }
      }

      function cut_and_block_song_signal() {
        if (now_playing_id != 0) {
          console.log(
            `沒播完，直接卡掉並加入黑名單，移除佇列ID：` + now_playing_id
          );
          $.ajax({
            type: "GET",
            dataType: "json",
            headers: get_auth_headers(),
            url:
              "playlist/" +
              now_playing_id +
              "/mark?cut=true&delete=true&block=true",
            success: function (res) {
              console.log(res);
              now_playing_id = 0;
            },
          });
        }
      }

      function favorite_song_signal() {
        if (now_playing_id != 0) {
          console.log(`將歌曲加入收藏，佇列ID：` + now_playing_id);
          $.ajax({
            type: "GET",
            dataType: "json",
            headers: get_auth_headers(),
            url: "playlist/" + now_playing_id + "/mark?favorite=true",
            success: function (res) {
              console.log(res);
            },
          });
        }
      }

      function unfavorite_song_signal() {
        if (now_playing_id != 0) {
          console.log(`將歌曲解除收藏，佇列ID：` + now_playing_id);
          $.ajax({
            type: "GET",
            dataType: "json",
            headers: get_auth_headers(),
            url: "playlist/" + now_playing_id + "/mark?favorite=false",
            success: function (res) {
              console.log(res);
            },
          });
        }
      }

      function cut() {
        cut_song_signal();
        location.reload();
      }

      function cut_and_block() {
        cut_and_block_song_signal();
        location.reload();
      }

      function favorite() {
        favorite_song_signal();
      }

      function unfavorite() {
        unfavorite_song_signal();
      }

      function insert_song_to_top(playing_id) {
        console.log(`指定播放順序，佇列ID：` + playing_id);
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: get_auth_headers(),
          url: "playlist/" + playing_id + "/insert?order=1",
          success: function (res) {
            console.log(res);
            console.log("Reload playlist!");
            $.ajax({
              type: "GET",
              dataType: "json",
              headers: get_auth_headers(),
              url: "playlist/queue",
              success: function (queue) {
                html = render_song_list(queue);
                document.getElementById("songlist").innerHTML = html;
              },
            });
          },
        });
      }

      function delete_song_in_queue(playing_id) {
        console.log(`刪除佇列ID：` + playing_id);
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: get_auth_headers(),
          url: "playlist/" + playing_id + "/delete",
          success: function (res) {
            console.log(res);
            console.log("Reload playlist!");
            $.ajax({
              type: "GET",
              dataType: "json",
              headers: get_auth_headers(),
              url: "playlist/queue",
              success: function (queue) {
                html = render_song_list(queue);
                document.getElementById("songlist").innerHTML = html;
              },
            });
          },
        });
      }

      function render_song_list(queue) {
        html = "";
        queue.forEach(function (res) {
          var order = res.order;
          if (order == 1) {
            html +=
              "------------------------<br>第一首<br>" + res.order + "<br>";
          } else {
            html += res.order + "<br>";
          }

          html +=
            res.id +
            "<br>" +
            res.song_name +
            "<br>" +
            res.user +
            "<br>" +
            res.url +
            "<br>";

          html +=
            `<button onclick="insert_song_to_top(` +
            res.id +
            `)">插歌</button>`;

          html +=
            `<button onclick="delete_song_in_queue(` +
            res.id +
            `)">刪歌</button>`;

          if (order == 1) {
            html += "<br>------------------------";
          }

          html += "<br><br><br>";
        });
        return html;
      }

      function load_song_list() {
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: get_auth_headers(),
          url: "playlist/queue",
          success: function (queue) {
            html = render_song_list(queue);
            document.getElementById("songlist").innerHTML = html;
          },
        });
      }

      function get_player_volume() {
        var volume = window.localStorage.getItem("player-volume");
        if (!volume) {
          volume = 0.003;
        }
        return volume;
      }

      function set_player_volume(volume) {
        var videoPlayer = videojs("video");
        videoPlayer.volume(volume);
      }

      function set_playlist(videoPlayer) {
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: get_auth_headers(),
          url: "playlist/get",
          success: function (playlist) {
            if(playlist.length === 0) {
              console.log(`------------------------------------`);
              console.log(`播放清單已經爲空！`);
              console.log(`------------------------------------`);
              return;
            }
            new_id = playlist[0].id;
            user = playlist[0].user;
            in_queue = playlist[0].in_queue;
            song_name = playlist[0].song_name;
            url = playlist[0].url;
            console.log(`------------------------------------`);
            console.log(`播放器音量： ` + videoPlayer.volume());
            console.log(`點播者： ` + user);
            console.log(`歌名： ` + song_name);
            console.log(`URL： ` + url);
            console.log(`此ID是否於佇列中（自動點播爲False）： ` + in_queue);
            console.log(`播放ID轉換： ` + now_playing_id + ` -> ` + new_id);
            console.log(`------------------------------------`);
            $.ajax({
              type: "GET",
              headers: get_auth_headers(),
              url: "youtube-video-info?url=" + url,
              success: function (res) {
                now_playing_id = new_id;
                videoPlayer.src({
                  type: "video/mp4",
                  src: res.video_url,
                });
                $("#user").text(user);
                $("#title").text(res.title);
                $("#url").text(res.url);
                $("#duration").text(res.duration);
                console.log("已獲得此歌曲的播放網址");
                console.log(res);
                // 更新底下播放清單
                load_song_list();
                console.log(`------------------------------------`);
              },
              error: function (err) {
                console.log(err);
              },
            });
          },
          error: function (err) {
            console.log(err);
          },
        });
      }

      function check_and_set_playlist(videoPlayer) {
        if (now_playing_id != 0) {
          console.log(`播放完畢，移除佇列ID：` + now_playing_id);
          $.ajax({
            type: "GET",
            dataType: "json",
            headers: get_auth_headers(),
            url: "playlist/" + now_playing_id + "/mark?played=true&delete=true",
            success: function (res) {
              console.log(res);
              set_playlist(videoPlayer);
            },
          });
        } else {
          set_playlist(videoPlayer);
        }
      }

      function change_player_src() {
        var videoPlayer = videojs("video").ready(function () {
          var player = this;
          // 設定播放器音量
          player.volume(get_player_volume());
          // 設定播放器結束事件
          player.on("ended", () => {
            check_and_set_playlist(player);
          });
          // 設定播放器音量控制事件
          player.on("volumechange", () => {
            window.localStorage.setItem("player-volume", player.volume());
          });
          // 設定播放器遇到ERROR處理
          player.reloadSourceOnError({
            getSource: function (reload) {
              console.log("Reloading because of an error");
              console.log("Set now playing ID to 0 -> reload playlist!");
              now_playing_id = 0;
              location.reload();
            },
            errorInterval: 5,
          });
          check_and_set_playlist(player);
        });
      }

      // -------------------------

      $(document).ready(function () {
        $.when(jwt_refresh_and_verify()).then(function(){
          change_player_src();
        })

      });
    </script>
  </body>
</html>
